main {
  padding: 16px;

  font-family: Inter;

  .gsc-reactions,
  .BtnGroup-item.BtnGroup-item--selected,
  .BtnGroup-item:hover,
  button.rounded-t.border-b-0:hover,
  .gsc-comment-box,
  .gsc-comment-box-md-toolbar:hover,
  button.rounded-t.border-b-0.color-border-primary,
  .gsc-comment-box-markdown-hint:hover,
  .btn-primary:hover,
  .btn.rounded-md:hover,
  .gsc-comment {
    box-shadow:
      4px 4px 10px var(--neu-dark),
      -4px -4px 10px var(--neu-light);
  }

  .BtnGroup-item,
  button.rounded-t.border-b-0,
  .gsc-comment-box-md-toolbar,
  button.rounded-t.border-b-0.border-transparent,
  .gsc-comment-box-preview,
  .gsc-comment-box-write,
  .gsc-comment-box-markdown-hint,
  .btn,
  .gsc-comment-author,
  .gsc-comment-content,
  .gsc-reply-box .form-control,
  .gsc-replies {
    box-shadow:
      4px 4px 10px var(--neu-dark) inset,
      -4px -4px 10px var(--neu-light) inset;
  }

  .gsc-loading-image {
    border-radius: 5px;
  }

  .BtnGroup,
  .BtnGroup-item,
  .BtnGroup-item .btn:hover,
  .gsc-comment-box,
  .gsc-comment-box-tabs,
  button.rounded-t.border-b-0,
  .gsc-comment-box-preview,
  .gsc-comment-box-textarea,
  .gsc-comment-box-textarea-extras,
  .btn,
  .gsc-comment,
  .color-box-border-info,
  .gsc-reply-box,
  .gsc-reply-box .form-control,
  .gsc-replies {
    background-color: transparent !important;
    border: transparent;
  }

  .gsc-replies {
    padding: 0;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }

  .gsc-comment {
    border-radius: 10px;
  }

  .gsc-comment-author {
    border-radius: 100px;
    padding: 5px;
    padding-right: 12.5px;
  }

  .gsc-comment-content {
    margin: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .gsc-comment-box-is-reply {
    width: 97.25%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 1rem;

    .gsc-comment-box-bottom {
      padding-bottom: 0.5rem;
    }
  }

  .gsc-comment-header {
    width: fit-content;
    padding-inline-start: 0.5rem;
  }

  .gsc-comment-box-textarea-extras {
    border-top: 1px solid var(--color-btn-border);
  }

  .gsc-comment-box-textarea,
  .gsc-comment-box-textarea-extras {
    margin: 1px;
    width: calc(100% - 2px);
  }

  .gsc-reply-box {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }

  .gsc-comment-box-preview {
    border-radius: 0.25rem;
    padding: 10px 10px 10px 10px;
  }

  .gsc-reactions {
    margin: auto;
    padding: 3px 10px 10px 10px;
    border-radius: 5px;
    min-width: 200px;
  }

  .BtnGroup,
  .mx-2 .mt-2 {
    overflow: visible;
    position: relative;
  }

  .BtnGroup-item,
  button.rounded-t.border-b-0,
  .gsc-comment-box-md-toolbar,
  .gsc-comment-box-write,
  .gsc-comment-box-markdown-hint,
  .gsc-loading-image,
  .btn-primary,
  .btn.rounded-md,
  .gsc-reply-box .form-control {
    position: relative;
    z-index: 1;
  }

  .BtnGroup-item,
  button.rounded-t.border-b-0,
  .gsc-comment-box-md-toolbar,
  .gsc-comment-box-markdown-hint,
  .btn-primary,
  .btn.rounded-md {
    border-radius: 100px !important;
    font-weight: 600;
  }

  .BtnGroup-item,
  button.rounded-t.border-b-0 {
    margin-right: 8px;
  }

  button.rounded-t.border-b-0,
  .gsc-toolbar-item {
    color: var(--color-accent-fg) !important;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .BtnGroup-item::before,
  button.rounded-t.border-b-0::before,
  .gsc-comment-box-md-toolbar::before,
  .gsc-comment-box-write::before,
  .gsc-comment-box-markdown-hint::before,
  .gsc-loading-image::before,
  .btn-primary::before,
  .btn.rounded-md::before,
  .gsc-reply-box .form-control::before {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    padding: 2px;
    content: "";
    border-radius: inherit;
    background: linear-gradient(
      270deg,
      var(--color-btn-outline-text),
      var(--color-btn-outline-text),
      #4158d0,
      #c850c0,
      #c850c0,
      #4158d0
    );
    background-size: 600% 600%;
    animation: gradientMove 15s linear infinite;
    z-index: -1;

    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;

    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .BtnGroup-item:hover::before,
  button.rounded-t.border-b-0:hover::before,
  .gsc-comment-box-md-toolbar:hover::before,
  .gsc-comment-box-write:focus-within::before,
  .gsc-comment-box-markdown-hint:hover::before,
  .gsc-loading-image::before,
  .btn-primary:hover::before,
  .btn.rounded-md:hover::before,
  .gsc-reply-box .form-control:focus-within::before {
    opacity: 1;
  }

  .gsc-comment-box-markdown-hint {
    width: 30px;
    height: 30px;
  }

  .btn-primary,
  .btn-primary,
  .btn.rounded-md.ml-1 {
    color: var(--color-btn-text) !important;
  }

  .octicon-markdown {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px;
    fill: var(--color-btn-text);
  }

  .gsc-comment-box-write:focus-within {
    border-color: none;
    box-shadow: none;
  }

  .gsc-comment-box {
    border-radius: 10px !important;
    overflow: clip;
  }

  .gsc-comment-box-md-toolbar {
    margin-top: auto;
    margin-left: auto;
    padding: 3px 6px 3px 6px;
  }

  .gsc-reactions-popover.open.left::after,
  .gsc-reactions-popover.open.left::before {
    display: none;
  }

  .color-bg-overlay {
    background-color: var(--neu-background);
  }

  .gsc-reactions-popover {
    border-radius: 0.5rem;
  }

  .gsc-emoji-button {
    border-radius: 10px;
  }

  .gsc-social-reaction-summary-item.has-reacted:hover:enabled {
    background-color: transparent;
  }
}

#__next .border  {
    border-width: 0px !important;
}
