@use "./base.scss";

// put your custom CSS here!

[saved-theme="dark"] body {
    --neu-background: #1e1e2e;

    --neu-dark: #12121c;
    --neu-light: #2a2a40;
}

[saved-theme="light"] body {
    --neu-background: #eff1f5;

    --neu-dark: #b8babd;
    --neu-light: #ffffff;
}

.page-title, .search-button, .darkmode, .readermode, .breadcrumb-container {
    border-radius: 100px !important;
    background: var(--neu-background) !important;
    box-shadow:  4px 4px 10px var(--neu-dark),
                            -4px -4px 10px var(--neu-light);
    height: 40px;
    text-align: center;
}

.page-title {
    padding-top: 4px;
}

.darkmode, .readermode {
    width: 40px;
    padding-right: 20px;
}

.breadcrumb-container {
    padding-left: 20px;
}

.search-bar {
    border-radius: 100px !important;
}

.explorer, .toc, footer {
    border-radius: 25px;
    background: var(--neu-background);
    box-shadow:  10px 10px 30px var(--neu-dark),
                            -10px -10px 30px var(--neu-light);
    padding: 20px;
}

footer {
    padding-top: 35px;
    padding-bottom: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
}

footer ul {
    align-items: center; /* This doesn't do what it looks like it does, it makes 'Useful Links' aligned with the links vertically. */
}

.center {
    margin-left: 35px !important;
    margin-right: 20px !important;
    min-width: 90% !important;
}

img {
    border-radius: 25px;
    box-shadow:  20px 20px 60px var(--neu-dark),
                            -20px -20px 60px var(--neu-light);
    border-width: 2px;
    border-color: var(--neu-background);
    border-style: solid;
}

.callout {
    border-radius: 25px;
}